body {
    margin: 0;
    display: flex;
    font-family: 'Montserrat';
    background-color: #171c20;
    overflow: hidden;
}


/*################################ KEYFRAMES #########################*/

@keyframes taskadd {
    0% {
        height: 0;
    }
    100% {
        height: 5vh;
    }
}


@keyframes taskadd2{
    0% {
        height: 0;
    }
    100% {
        height: 15vh
    }
}

svg {
    cursor: pointer;
}

.context {
    font-size: 13px;
    position: absolute;
    width: 200px;
    height: auto;
    padding: 5px 0px;
    border-radius: 5px;
    top: 10;
    left: 10;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    color: #333;
    z-index: 99;
    user-select: none;
}

.last {
    color: #f44242
}

.context .context_item {
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.context .context_item:hover {
    background-color: #ddd;
}

.context .context_item .inner_item {
    margin: 0px 10px;
}

.context .context_item .inner_item i {
    margin: 0 5px 0 0;
    font-weight: bold;
}

.context .context_hr {
    height: 1px;
    border-top: 1px solid #bbb;
    margin: 3px 10px;
}

.left-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191f24;
    min-width: 10vw;
    height: 100%;
    padding: 15px;
    font-size: 8px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.327);
    text-transform: uppercase;
    font-weight: 400!important;
    flex-flow: column wrap;
    z-index: 65;
}
ul{
    padding:0;
    list-style-type: none;
    font-size:17px;
    color:white;
    text-transform: none;
    font-weight: 500;
}

li{
    fill:white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:20px;
    transition: all .5s;
}

li:hover{
    fill:#f44242!important;
    color:#f44242;  
    cursor: pointer;
}

li svg{
    padding-top:5px;
    padding-right:10px;
}

#button-logout {
    transition: all .5s;
    fill: #a7adb1;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
}

.bg-name {
    position: absolute;
    color: #a7adb1;
    text-transform: uppercase;
    font-size: 250px;
    font-weight: 800;
    letter-spacing: -10px;
    opacity: 0.2;
    z-index: -1;
    margin-top: 20px;
    user-select: none;
}

#task-add {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all .5s;
    fill: #6b6f71;
}

#task-add:hover,
#button-logout:hover {
    fill: #f44242
}

.dashboard {
    display: flex;
    padding: 50px 80px;
    width: 85vw;
    justify-content: space-between;
    user-select: none;
}

.bar__welcome {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -.5px;
    font-size: 12px;
    color:white;
}

.bar__welcome p {
    color: #f44242;
    font-weight: 800;
    font-size: 25px;
    margin: 0;
}


/* DASHBOARD TODO */

.dashboard__todo, .dashboard__done{
    display: flex;
    align-items: center;
    width:30%;
    flex-direction: column;
    height: 100%;
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.todo__elem{
    display: flex;
    border-radius: 5px;
    align-items: center;
    width:100%;
    height: 11vh;
    padding: 0px 10px;
    margin:10px;
    background-color:#2a2f35;
    box-shadow: 0px 0px 21px 0px #0808083f;
}

.column__box{
    padding: 15px 40px; 
    height:auto;
    background-color:#0e1216;
    color:#858585;
    margin-bottom:20px;
}

.column-text, .column-text2{
    transition: all .5s;
    color:#858585;
    text-transform: none;
    margin-top:30%;
    background-color:#0e1216;
    padding:20px;
}

 label {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    position: relative;
}

 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #f44242;
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

 label span:before {
    content: '';
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #f44242;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}

 label span:after {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #f44242;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: all 50ms ease;
    transform-origin: 0% 0%;
}

 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}
 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

 input[type='checkbox'] {
    display: none;
}

 input[type='checkbox']:checked+label span {
    background-color: #f44242;
    transform: scale(1.25);
    box-shadow: 0px 0px 21px 0px #f44242;
}

 input[type='checkbox']:checked+label span:after {
    width: 10px;
    background: white;
    transition: width 150ms ease 100ms;
}

 input[type='checkbox']:checked+label span:before {
    width: 5px;
    background: white;
    transition: width 150ms ease 100ms;
}

 input[type='checkbox']:checked+label:hover span {
    background-color: #f44242;
    transform: scale(1.25);
    box-shadow: 0px 0px 21px 0px #f44242;
}

 input[type='checkbox']:checked+label:hover span:after {
    width: 10px;
    background: white;
    transition: width 150ms ease 100ms;
}

 input[type='checkbox']:checked+label:hover span:before {
    width: 5px;
    background: white;
    transition: width 150ms ease 100ms;
}

.strikeout {
    content: '';
    margin-top: 50px;
    background: #f44242;
    position: absolute;
    height: 2px;
    box-shadow: 0px 0px 21px 0px #f4424268;
    width: 550px;
    transition: width 1s;
    z-index: 20;
}

.strikeout::before {
    margin-top: 50px;
    width: 100%;
    transition: all 500ms ease;
}

.strikeout::after {
    margin-top: 50px;
    width: 100%;
    background: transparent;
    transition: 0;
}

th {
    text-transform: uppercase;
    font-size: 20px;
}

td, th {
    padding: 7px 4vw;
}


table {
    z-index: 10;
    position: relative;
    user-select: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left:-70px;
}

tr td:last-child {
    padding-left:13%;
    padding-top:14px;
}

input[type=checkbox] {
    border: solid 1px #f44242;
}

td:last-child {
    z-index: 50;
    position: relative;
}


/* TASK ADD */

.dashboard__addTask{
    height: 20vh;
    margin: 40px -10px;
}

.dashboard__addTask, .name, .description{
    animation:taskadd .3s;
}

.circle__remove:hover, .circle__add:hover {
    cursor: pointer;
}

.circle__add{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width:70px;
    background-color:#f44242;
    border-radius: 50px;
    box-shadow: 0px 0px 21px 0px #f44242;
    margin-top:-35px;
    margin-left:80%;
}

.circle__remove{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width:50px;
    background-color:#191f24;
    border-radius: 50px;
    box-shadow: 0px 0px 21px 0px #191f24;
    margin-top:-60px;
    margin-left:60%;
}
.name{
    border:0;
    width:100%;
    background-color:#fcfcfc;
    padding:10px;
    font-family:Montserrat;
    text-transform: uppercase;
    font-weight:800;
    height: 5vh;
    font-size:18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #f44242;
    animation:taskadd .3s;
    
}

.description{
    cursor: pointer;
    border:0;
    width:100%;
    background-color:#fcfcfc;
    padding:10px;
    font-family:Montserrat;
    color:#858585;
    font-weight:600;
    font-size:15px;
    resize: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 15vh;
    animation:taskadd2 .3s;
}

::placeholder {
    color: #bdc3c7;
    text-transform:none;
    font-weight:400;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:focus, textarea:focus {
    outline: 0;
}